<tui-root *ngIf="!!(authService.getAccessToken() | async) else authTpl">
  <header tuiNavigationHeader>
    <!-- Start Left header -->
    <button
      appearance="secondary"
      iconLeft="tuiIconGrid"
      tuiIconButton
    >
      Menu
    </button>
    <span tuiNavigationLogo>
        <span tuiFade>{{ titleVi }}</span>
        <tui-badge>Ultimate</tui-badge>
    </span>
    <!-- End Left header -->
    <hr />
    <!-- Start Right header -->
    <button
      iconLeft="tuiIconBell"
      tuiIconButton
    >
      Notifications
      <tui-badge-notification></tui-badge-notification>
    </button>
    <tui-hosted-dropdown [content]="actions">
      <button
        iconLeft="tuiIconMoreHorizontal"
        tuiIconButton
      >
        More
      </button>
      <ng-template #actions>
        <tui-data-list size="s">
          <button tuiOption (click)="logout()">
            <tui-icon
              icon="tuiIconLogOutOutline"
              [style.font-size.em]="1"
              [style.margin-right.rem]="0.5"
            ></tui-icon>
            Đăng xuất
          </button>
        </tui-data-list>
      </ng-template>
    </tui-hosted-dropdown>
    <tui-avatar [src]="'VN'"></tui-avatar>
    <!-- End Right header -->
  </header>
  <div [style.display]="'flex'">
    <aside
      style="height: calc(100vh - 3rem);"
      [tuiNavigationAside]="expanded"
    >
      <header>
        <button
          iconLeft="tuiIconHome"
          tuiButton
          routerLink="/"
        >
          <span tuiFade>Trang chủ</span>
        </button>
      </header>
      <a
        *libHasRole="[Role.SuperAdmin]"
        iconLeft="tuiIconUsers"
        routerLink="/users"
        routerLinkActive="active"
        tuiAppearance="flat"
        tuiButton
      >
        Tài khoản
      </a>
      <tui-hosted-dropdown
        [canOpen]="!expanded"
        [content]="products"
        [sided]="true"
        [(open)]="openProducts"
      >
        <button
          iconLeft="tuiIconBox"
          iconRight="tuiIconChevronDown"
          tuiAppearance="flat"
          tuiButton
          [tuiAppearanceState]="openProducts ? 'hover' : null"
          (click)="submenuProducts = expanded && !submenuProducts"
        >
          Sản phẩm
        </button>
        <ng-template #products>
          <tui-data-list size="s">
            <button tuiOption>Bể kính</button>
            <button tuiOption>Đèn</button>
            <button tuiOption>Lọc</button>
            <button tuiOption>Layouts</button>
            <button tuiOption>Cá</button>
          </tui-data-list>
        </ng-template>
      </tui-hosted-dropdown>
      <tui-expand [expanded]="expanded && submenuProducts">
        <button tuiButton>Bể kính</button>
        <button tuiButton>Đèn</button>
        <button tuiButton>Lọc</button>
        <button tuiButton>Layouts</button>
        <button tuiButton>Cá</button>
      </tui-expand>

      <tui-hosted-dropdown
        [canOpen]="!expanded"
        [content]="settings"
        [sided]="true"
        [(open)]="openSettings"
      >
        <button
          iconLeft="tuiIconSettings"
          iconRight="tuiIconChevronDown"
          tuiAppearance="flat"
          tuiButton
          [tuiAppearanceState]="openSettings ? 'hover' : null"
          (click)="submenuSettings = expanded && !submenuSettings"
        >
          Cài đặt
        </button>
        <ng-template #settings>
          <tui-data-list size="s">
            <button tuiOption>Chính sách</button>
          </tui-data-list>
        </ng-template>
      </tui-hosted-dropdown>
      <tui-expand [expanded]="expanded && submenuSettings">
        <button tuiButton>Chính sách</button>
      </tui-expand>

      <footer>
        <button
          tuiButton
          [iconLeft]="expanded ? 'tuiIconChevronLeft' : 'tuiIconChevronRight'"
          (click)="expanded = !expanded"
        >
          {{ expanded ? 'Thu nhỏ' : 'Mở rộng' }}
        </button>
      </footer>
    </aside>

    <main tuiNavigationMain>
      <div style="padding-top: 1.25rem;">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</tui-root>

<ng-template #authTpl>
  <router-outlet></router-outlet>
</ng-template>